@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Leckerli+One&family=Lobster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.Leckerli {
  font-family: "Leckerli One", cursive;
}
.light-blue {
  color: #00b0ad;
}
* {
  box-sizing: border-box;
}
hr {
  border: none;
  border-radius: 50px;
  margin-top: 10px;
  height: 3px;
  width: 100%;
  background: #00b0ad;
}
li {
  text-decoration: none;
}
